<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>PSM</h4>
          <p>
            A108 Adam Street <br>
            Nairobi, 535022<br>
            Kenya <br><br>
            <strong>Phone:</strong> +254 554 988 955<br>
            <strong>Email:</strong> info@example.com<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/procedure">Procedures</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/experiences">Community Reviews</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/questions">Questions</a></li>
            <li><i class="bx bx-chevron-right"></i> <a style="color: #ff5821;" href="/shop">Shop</a></li>
            <li><i class="bx bx-chevron-right"></i> <a style="color: #ff5821;" href="/shop">Merchant</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Policy</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="javascript:void(0)">Privacy</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="javascript:void(0)">Terms</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="javascript:void(0)">Q & A</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="javascript:void(0)">FAQs</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="javascript:void(0)">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Join Our Newsletter</h4>
          <p>Join our newsletter to get the latest information on all topics on plastic surgery</p>
          <!-- <form #form="ngForm" (ngSubmit)="submitNewsletter(form)"> -->
            <!-- <input placeholder="Email Address" type="email" name="email">
            <input type="submit" value="Subscribe"> -->
            <!-- <input name="email" type="email" class="form-control" id="formGroupExampleInput2"
                    id="formGroupExampleInput" placeholder="Email your email address" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" ngModel required autofocus>
            <input type="submit" name="submit" class="submit action-button btn btn-primary" [disabled]="form.form.invalid" value="Subscribe"/>
          </form> -->
        </div>

      </div>
    </div>
  </div>

  <div class="container d-lg-flex py-4">

    <div class="me-lg-auto text-center text-lg-start">
      <div class="copyright">
        &copy; Copyright <strong><span>PSM</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexor-free-multipurpose-bootstrap-template/ -->
        <!-- Designed by <a href="https:/psm.com/">PSM</a> -->
      </div>
    </div>
    <div class="social-links text-center text-lg-right pt-3 pt-lg-0">
      <a href="javascript:void(0)" class="twitter"><i class="fa fa-twitter"></i></a>
      <a href="javascript:void(0)" class="facebook"><i class="fa fa-facebook"></i></a>
      <a href="javascript:void(0)" class="instagram"><i class="fa fa-instagram"></i></a>
      <a href="javascript:void(0)" class="google-plus"><i class="fa fa-skype"></i></a>
      <a href="javascript:void(0)" class="linkedin"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</footer><!-- End Footer -->
