<section class="container" style="padding-top: 70px; padding-left: 0 !important; padding-right: 0 !important; margin-right: 0 !important; margin-left: 0 !important;">
    <div id="footer" style="margin: 0; padding: 10px">
        <div class="d-flex justify-content-between">
            <div>
                <span class="copyright">© Copyright Cellulant</span>
            </div>
            <div>
              <span class="copyright"> All Rights Reserved</span>
          </div>
            <!-- <div>
                <ul class="list-group list-group-horizontal" style="margin: 0; padding: 0; ">
                    <li class="list-group-item"><a href="javascript:void(0)">Help</a></li>
                    <li class="list-group-item"><a href="javascript:void(0)">Terms</a></li>
                    <li class="list-group-item"><a href="javascript:void(0)">Privacy Policy</a></li>
                </ul>
            </div> -->
       </div>
    </div>
</section>
