footer {
    border-top: 2px solid #ccc; 
  }

  footer ul {
    flex-direction: row;
  }

  footer .copyright {
    font-family: 'Montserrat';
    font-size: 13px;
  }

  footer ul li {
    font-family: 'Montserrat';
    padding: 0px 10px 0px 10px; 
    border: 0px;
    font-size: 13px;
  }

  footer ul li a:hover {
    color: orange;
    text-decoration: none;
  }