<app-shop-navbar></app-shop-navbar>
<div class="container" >
  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
      <div class="col-sm-6 mx-auto">
          <div class="card">
              <h3 style="text-align: center; color: green;"><i class="fa fa-check fa-3x"></i></h3>
              <h3 style="text-align: center; color: blue;">Checkout Successful</h3>
              <h4 style="text-align: center; color: black;">Baricho Shop</h4>
              <h4 style="text-align: center; color: black;">2 Product 1</h4>
              <h4 style="text-align: center; color: black;">Ksh 3000</h4>

          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
