<app-shop-navbar></app-shop-navbar>
<div class="container-fluid" >
  <ng-template #paymentModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="color: #ff5821;font-weight: bold;">Mpesa Payment</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row justify-content-sm-center">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <label for="exampleInputEmail1">Please check your phone number for an STK push</label>
        </div>
        <div class="col-md-12 col-sm-1 col-lg-12" style="margin-top: 20px;">
          <button type="button" class="btn btn-primary" (click)="closeModal()">Ok</button>
        </div>
      </div>
    </div>
  </ng-template>
  <div class="row d-flex justify-content-center text-center" style="margin-bottom: 20px;">
    <div class="col-6" style="padding: 20px ;">
      <h4 style="margin-top: 50px; font-weight: bold;">Contact Information</h4>
      <!-- <h4 style="font-size: 12px;">Cart > Information > Shipping > Payment</h4> -->
      <!-- <h4 style="font-size: 12px;">Already have an account? <a href="/login"> Log in</a></h4> -->
      <form #form="ngForm" (ngSubmit)="submit(form)">
        <div class="form-group">
          <!-- <label for="formGroupExampleInput" style="float: left; padding: 5px; color: blue;">Contact Information</label> -->
          <input style="margin-top: 10px; height: 40px;" name="email" type="email" class="form-control" id="formGroupExampleInput"
            placeholder="Email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" ngModel required>
        </div>
        <div class="form-group">
          <input style="margin-top: 10px; height: 40px;" name="name" type="text" class="form-control" id="formGroupExampleInput"
            placeholder="Name" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" ngModel required>
        </div>
        <div class="form-group">
          <input style="margin-top: 10px; height: 40px;" name="address" type="text" class="form-control" id="formGroupExampleInput"
            placeholder="Physical Address" #address="ngModel" [class.is-invalid]="address.invalid && address.touched" ngModel required>
        </div>
        <div class="form-group">
          <input style="margin-top: 10px; height: 40px;" name="phone" type="text" class="form-control" id="formGroupExampleInput"
            placeholder="Payment Phone Number (254xxxxxxxxx)" #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched" ngModel required>
        </div>
        <!-- <button type="button" class="btn btn-outline-success"
          style="font-weight: bold; font-size: 13px; margin: 20px; " (click)="payment()">Continue with payment</button> -->
          <!-- <input type="submit" name="submit" class="submit action-button btn btn-primary" [disabled]="form.form.invalid" value="Continue with payment"/> -->
          <input style="border: 1px solid #ff5821; background-color: #ff5821; color: white" type="submit" name="submit" class="submit action-button btn btn-primary" value="Continue with payment"/>
        <button type="button" class="btn btn-outline-success"
          style="font-weight: bold; font-size: 13px;margin: 20px; border: 1px solid #ff5821; background-color: #fff; color: #ff5821;" (click)="cart()">Return to cart</button>

      </form>
    </div>
    <div class="col-6" style="background-color: #ccc; padding: 20px;">
      <div class="summary">
        <h3 style="margin-top: 50px; font-weight: bold;">Summary</h3>
        <div class="row">
          <div class="col-6" style="float: left;">
            <h5 style="float: left;">Subtotal</h5>
          </div>
          <div class="col-6" style="float: right;">
            <h5 style="float: right;">Ksh {{total}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-6" style="float: left;">
            <h5 style="float: left;">Shipping</h5>
          </div>
          <div class="col-6" style="float: right;">
            <h5 style="float: right;">Ksh 0</h5>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6" style="float: left;">
            <h5 style="float: left;">Total</h5>
          </div>
          <div class="col-6" style="float: right;">
            <h5 style="float: right;">Ksh {{total}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
 <app-footer></app-footer>
