<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="/"><i class="fa fa-magnet" style="color: orange;"></i><span> Legends Payment</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar" style="border: 1px solid #fff; margin: 0 !important;">
        <ul>
          <!-- <li><a class="nav-link scrollto active" href="#hero">Home</a></li> -->
          <li class="nav-item"><a style="color: #333;" class="nav-link active" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="/">Sign Up</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <section class="testimonial py-5" id="testimonial" style="margin-top: 80px; ">
    <div class="container" >
        <div class="h-100 row align-items-center justify-content-center">
            <div id="login-overlayw" class="col-md-10" >
                <div class="modal-content ">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Login</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="well">
                                    <form id="loginForm" method="POST">
                                        <div class="form-group">
                                            <label for="username" class="control-label">Username</label>
                                            <input type="text" class="form-control" name="username" value="" required="" title="Please enter your username" placeholder="username">
                                            <span class="help-block"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="control-label">Password</label>
                                            <input type="password" class="form-control" name="password" placeholder="password" value="" required="" title="Please enter your password">
                                            <span class="help-block"></span>
                                        </div>
                                        <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                                        <p class="help-block"><a href="#">Forgot Password?</a></p>
                                        <button type="submit" value="login" name="submit" class="btn btn-success btn-block" (click)="signin()">Login</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <p class="lead">You have already registered? Click <a style="color: orangered; cursor: pointer;"  >here</a> to login and continue and enjoying our services.</p>
                                <ul class="list-unstyled" style="line-height: 2">
                                    <li><span class="fa fa-check text-success"></span> Keep your password safe</li>
                                    <li><span class="fa fa-check text-success"></span> Do not share your password</li>
                                    <li><span class="fa fa-check text-success"></span> Look out for social engineering</li>
                                    <li><span class="fa fa-check text-success"></span> Change your password frequently</li>
                                    <li><span class="fa fa-check text-success"></span> Choose a strong password</li>
                                    <li><span class="fa fa-check text-success"></span> Log out when done with transaction</li>
                                    <li><span class="fa fa-check text-success"></span> Alert support team incase of problem with account</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</section>
<app-footer></app-footer>