<app-home-navbar></app-home-navbar>

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs" style="margin-top: 5px;">
    <div class="container">
      <ol>
        <li><a href="javascript:void(0)">Home</a></li>
        <li><a href="javascript:void(0)">Experiences</a></li>
      </ol>
      <!-- <div class="row">
        <h2 >Medical Procedures</h2>
      </div> -->

      <div class="row">
        <div class="col-lg-10">
          <h2 >Experiences</h2>
        </div>
        <div class="col-lg-2">
          <button (click)="shareExperience()" type="button" class="btn btn-primary" style="font-size: 13px; background-color: #ff5821; border: 1px solid #ff5821;"><i class="fa fa-share" style="padding: 5px;"></i>Share Experience</button>
        </div>
      </div>


    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Blog Single Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-9 entries">

          <div id="team" class="team">
            <div class="container">
              <div class="row">

                <!-- <div class="col-lg-12   col-md-6 d-flex align-items-stretch" data-aos="fade-up" *ngFor="let item of productsObservable | async"> -->
                <div class="col-lg-12   col-md-6 " data-aos="fade-up" *ngFor="let item of experienceObservable | async">
                  <article class="entry">

                    <h2 class="entry-title">
                      <a href="blog-single.html">{{item.procedureName}}</a>
                    </h2>

                    <div class="entry-content">
                      <p>
                        {{item.experienceDescription}}
                      </p>

                    </div>

                    <div class="entry-meta">
                      <ul>
                        <li class="d-flex align-items-center"><i class="fa fa-user"></i> <a href="blog-single.html">{{item.name}}</a></li>
                        <li class="d-flex align-items-center"><i class="fa fa-clock-o"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{item.dateCreated}}</time></a></li>
                        <!-- <li class="d-flex align-items-center"><i class="fa fa-comments"></i> <a href="blog-single.html">0 Comments</a></li> -->
                      </ul>
                    </div>

                  </article><!-- End blog entry -->


                </div>

              </div>

            </div>
          </div>



        </div><!-- End blog entries list -->
        <div class="col-lg-3">

          <div class="sidebar">

            <!-- <h3 class="sidebar-title">Search</h3>
            <div class="sidebar-item search-form">
              <form action="">
                <input type="text">
                <button type="submit"><i class="bi bi-search"></i></button>
              </form>
            </div> -->

            <h2 class="sidebar-title" style="font-size: 17px;">Procedure Categories</h2>
            <div class="sidebar-item categories">
              <ul style="font-family: Montserrat;">
                <li><a style="cursor: pointer;" href="/procedure">Invasive <span>(2)</span></a></li>
                <li><a style="cursor: pointer;" href="/procedure">Non Invasive <span>(3)</span></a></li>
                <li><a style="cursor: pointer;" href="/procedure">All <span>(5)</span></a></li>
              </ul>
            </div><!-- End sidebar categories-->

            <h2 class="sidebar-title" style="font-size: 17px;">Procedure Types</h2>
            <div class="sidebar-item categories">
              <ul style="font-family: Montserrat;">
                <li><a style="cursor: pointer;" (click)="moreDetail2('Face Lift')" >Face Lift <span>(1)</span></a></li>
                <li><a style="cursor: pointer;" (click)="moreDetail2('Nose Reshaping')">Nose Reshaping <span>(1)</span></a></li>
                <li><a style="cursor: pointer;" (click)="moreDetail2('Nasal Surgery')" >Nasal Surgery <span>(1)</span></a></li>
                <li><a style="cursor: pointer;" (click)="moreDetail2('Eyelid Lift')">Eyelid Lift <span>(1)</span></a></li>
                <li><a style="cursor: pointer;" (click)="moreDetail2('Ear Reshaping')">Ear Reshaping <span>(1)</span></a></li>
              </ul>
            </div><!-- End sidebar categories-->

          </div><!-- End sidebar -->

        </div><!-- End blog sidebar -->
      </div>

    </div>
  </section><!-- End Blog Single Section -->


  <ng-template #experienceModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="color: #ff5821;font-weight: bold;">Share Your Experience</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #experienceForm="ngForm" (ngSubmit)="submitExperience(experienceForm)">

        <div class="row">
          <div class="col-md-12 col-sm-1 col-lg-12">
            <div class="form-floating mb-3">
              <select name="procedure" class="form-select" id="floatingSelect"
                aria-label="Floating label select example" #procedure="ngModel"

                [class.is-invalid]="procedure.invalid && procedure.touched" ngModel
                 required autofocus>
                <option value="{{item.procedureID}}:{{item.procedureName}}" *ngFor="let item of productsObservable | async">{{item.procedureName}}
                </option>
              </select>
              <label for="floatingInput" style="font-size: 13px; color: #666;">Category</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-1 col-lg-12">
            <div class="form-floating mb-3">
              <input name="title" type="text" class="form-control" id="formGroupExampleInput2"
                id="formGroupExampleInput" #title="ngModel"
                [class.is-invalid]="title.invalid && title.touched" ngModel required >
              <label for="floatingInput" style="font-size: 13px; color: #666;">Title</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-1 col-lg-12">
            <div class="form-floating mb-3">
              <select name="completed" class="form-select" id="floatingSelect"
                aria-label="Floating label select example" #completed="ngModel"
                [class.is-invalid]="completed.invalid && completed.touched" ngModel
                 required>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
              <label for="floatingInput" style="font-size: 13px; color: #666;">Have you done this procedure before?</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-1 col-lg-12">
            <div class="form-floating mb-3">
              <input name="averagecost" type="number" class="form-control" id="formGroupExampleInput2"
                id="formGroupExampleInput" #averagecost="ngModel"
                [class.is-invalid]="averagecost.invalid && averagecost.touched" ngModel required >
              <label for="floatingInput" style="font-size: 13px; color: #666;">Average cost</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-1 col-lg-12">
            <div class="form-floating mb-3">
              <textarea name="description" class="form-control" id="formGroupExampleInput2"
                id="formGroupExampleInput"  #description="ngModel" rows="5"

                [class.is-invalid]="description.invalid && description.touched" ngModel required ></textarea>
              <label for="floatingInput" style="font-size: 13px; color: #666;">Enter your experience</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-1 col-lg-12">
            <div class="input-group mb-3">
              <input name="thumbnail" #thumbnail="ngModel" class="form-control" #file type="file" (change)="fileChangeEvent(file.files)" id="formFile"  multiple ngModel accept="image/jpg, image/jpeg, image/png">
              <!-- <span style="cursor: pointer;" class="input-group-text" id="basic-addon2" >Edit </span> -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-1 col-lg-12">
            <div class="form-check">
              <input name="approve" type="checkbox" class="form-check-input" id="exampleCheck1" #approve="ngModel" ngModel required>
              <label class="form-check-label" for="exampleCheck1">By submitting your experience you agree on our terms and conditions</label>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-md-12 col-sm-1 col-lg-12">
            <button type="submit" class="btn btn-danger w-100">Submit</button>
            <img style="padding: 10px" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                            />
          </div>
        </div>
      </form>
    </div>
  </ng-template>
<app-footer></app-footer>
