<section>
    <div class="container" style="padding: 10px 0px 0px 0px; ">
        <nav class="navbar navbar-expand-md navbar-dark" style="padding-left: 0; padding-right: 0;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-bars" style="color:tomato; font-size:28px;"></i>
                </span>
            </button>
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto" >
                    <li class="nav-item" >
                        <a style="font-weight: bolder; margin-top: -4px;" class="nav-link"><i class="fa fa-magnet fa-2x"
                                style="color: #029cd8;"></i></a>
                    </li>

                    <li class="nav-item" style="margin-left: 20px;">
                        <a style="font-weight: bolder;" class="nav-link" href="#" [routerLink]="[ '/home']"
                            routerLinkActive="active-list-item" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown show">
                            <a style="border: 0; font-weight: bold; margin-top: 1px;" class="btn btn-default dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Payments
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="javascript:void(0)">Payment Links</a>
                              <a class="dropdown-item" href="javascript:void(0)">B2B Payments</a>
                              <a class="dropdown-item" href="javascript:void(0)">Bill Payments</a>
                              <a class="dropdown-item" href="javascript:void(0)">Event Ticketing</a>
                            </div>
                          </div>
                    </li>
                    <li class="nav-item">
                        <a style="font-weight: bolder;" class="nav-link" href="#" [routerLink]="[ '/invoices']"
                            routerLinkActive="active-list-item"
                            [routerLinkActiveOptions]="{exact: true}">Invoices</a>
                    </li> 
                    <li class="nav-item">
                        <a style="font-weight: bolder;" class="nav-link" href="#" [routerLink]="[ '/settlements']"
                            routerLinkActive="active-list-item"
                            [routerLinkActiveOptions]="{exact: true}">Settlements</a>
                    </li> 
                    <li class="nav-item">
                        <a style="font-weight: bolder;" class="nav-link" href="#" [routerLink]="[ '/transactions']"
                            routerLinkActive="active-list-item"
                            [routerLinkActiveOptions]="{exact: true}">Transactions</a>
                    </li> 
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" style="padding: 4px;">
                <ul class="navbar-nav ml-auto" style="margin-top: -3px;">
                    <li class="dropdown" style="margin-top: 0px; padding: 8px">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            <i style="color: #ccc; " class="fa fa-bell ">
                            </i>
                        </a>
                        <ul class="dropdown-menu notify-drop">
                            <div class="notify-drop-title">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">Notifications</div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                        <a href="javascript:void(0)" class="rIcon allRead" data-tooltip="tooltip" data-placement="bottom"
                                            title="tümü okundu.">
                                            <i class="fa fa-dot-circle-o"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end notify title -->
                            <!-- notify content -->
                            <div class="drop-content" style="background: #f0f0f0">

                                <mat-card
                                    style="margin-left: 10px; margin-top: 10px; font-family: Titillium-Web-Regular;; font-size: 12px">
                                    <p style="font-family: Montserrat;">You have no new notifications</p>
                                </mat-card>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a style="font-weight: bolder;" class="nav-link" href="#" [routerLink]="[ '/account']"
                            routerLinkActive="active-list-item"
                            [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-cog fa-lg"></i></a>
                    </li> 
                    <li class="nav-item">
                        <a style="font-weight: bolder; cursor: pointer;" class="nav-link" (click)="logOut()">LOG OUT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>