
<div class="container" style="border: 1px solid #fff;">
  <nav class="navbar  navbar-expand-lg" id="myNavbar" style="border: 1px solid #fff;">

    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon fa fa-bars"></span>
    </button>

    <a href="#" class="navbar-brand">PSM</a>
    <div class="collapse navbar-collapse" id="mainNav">
     <ul class="navbar-nav ml-auto">
     </ul>

    </div>
    <div class="collapse navbar-collapse justify-content-end" id="mainNav">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item px-1">
          <a href="/" class="nav-link">Home</a>
         </li> -->
         <li class="nav-item px-1">
          <a href="/procedure" class="nav-link">Procedures</a>
         </li>
         <li class="nav-item px-1">
          <a href="/experiences" class="nav-link">Community Reviews</a>
         </li>
         <li class="nav-item px-1">
          <a href="/questions" class="nav-link">Questions</a>
         </li>
         <li class="nav-item px-1">
          <a style="color: #ff5821;" href="/shop" class="nav-link">Shop</a>
         </li>
         <li class="nav-item dropdown px-2">
          <a style="color: brown" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>

          <div *ngIf="user == null" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/login">Login</a>
          </div>
          <div *ngIf="user != null" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="[ '/merchant']"
            routerLinkActive="active-list-item"
            [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" href="#">Merchant</a>
            <a [routerLink]="[ '/account']"
            routerLinkActive="active-list-item"
            [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" href="#">My Profile</a>
            <a class="dropdown-item" href="#" (click)="logOut()">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
   </nav>

</div>
