<!--
    ####################################################
    C A R O U S E L
    ####################################################
    -->
    <div id="carousel-2" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2000">
      <ol class="carousel-indicators">
          <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-2" data-slide-to="1"></li>
          <li data-target="#carousel-2" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
              <a href="https://bootstrapcreative.com/">

               <img src="https://dummyimage.com/1000x400/444/" alt="responsive image" class="d-block img-fluid">

                  <div class="carousel-caption">
                      <div>
                          <h2>Digital Craftsmanship</h2>
                          <p>We meticously build each site to get results</p>
                          <span class="btn btn-sm btn-outline-secondary">Learn More</span>
                      </div>
                  </div>
              </a>
          </div>
          <!-- /.carousel-item -->


          <div class="carousel-item">
              <a href="https://bootstrapcreative.com/">
               <img src="https://dummyimage.com/1000x400/444/" alt="responsive image" class="d-block img-fluid">

                  <div class="carousel-caption justify-content-center align-items-center">
                      <div>
                          <h2>Every project begins with a sketch</h2>
                          <p>We work as an extension of your business to explore solutions</p>
                          <span class="btn btn-sm btn-outline-secondary">Our Process</span>
                      </div>
                  </div>
              </a>
          </div>
          <!-- /.carousel-item -->
          <div class="carousel-item">
              <a href="https://bootstrapcreative.com/">

               <img src="https://dummyimage.com/1000x400/444/" alt="responsive image" class="d-block img-fluid">


                  <div class="carousel-caption justify-content-center align-items-center">
                      <div>
                          <h2>Performance Optimization</h2>
                          <p>We monitor and optimize your site's long-term performance</p>
                          <span class="btn btn-sm btn-secondary">Learn How</span>
                      </div>
                  </div>
              </a>
          </div>
          <!-- /.carousel-item -->
      </div>
      <!-- /.carousel-inner -->
      <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
  <!-- /.carousel -->


<div class="container-fluid">
  <p>Full width carousel</p>
</div>
<!-- /.container -->

<div class="container-fluid" style="border: 1px solid #000;padding: 0 !important; margin: 0 !important;">
  <div class="row" style="border: 1px solid #000; padding: 0 !important; margin: 0 !important;">
    <div class="col-lg-4" style="border: 1px solid #000; padding: 0 !important; margin: 0 !important;"><img src="../../assets/img/mother1.webp" class="img-fluid"></div>
    <div class="col-lg-4" style="border: 1px solid #000; padding: 0 !important; margin: 0 !important;"><img src="../../assets/img/mother2.webp" class="img-fluid"></div>
    <div class="col-lg-4" style="border: 1px solid #000; padding: 0 !important; margin: 0 !important;"><img src="../../assets/img/mother3.webp" class="img-fluid"></div>
  </div>
  <div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row">
    <div class="col-lg-12"></div>
  </div>
</div>

<section id="team" class="team section-bg">
  <div class="container">

    <div class="section-title">
      <h2 data-aos="fade-up">Top Procedures</h2>
      <p data-aos="fade-up">View all our medical procedures.</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team-1.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Eyelid Lift</h4>
            <span>Non Invasive</span>
            <div class="btn-wrap">
              <a href="javascript:void(0)" class="btn-buy">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team-2.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Nasal Surgery</h4>
            <span>Invasive</span>
            <div class="btn-wrap">
              <a href="javascript:void(0)"  class="btn-buy">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team-3.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Nose Reshaping</h4>
            <span>Non Invasive</span>
            <div class="btn-wrap">
              <a href="javascript:void(0)"  class="btn-buy">Explore</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team-4.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Face Lift</h4>
            <span>Invasive</span>
            <div class="btn-wrap">
              <a href="javascript:void(0)" class="btn-buy">Explore</a>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-wrap text-center" >
        <a href="/procedure" style="background-color: #ff5821;" class="btn-buy">View More Procedures</a>
      </div>
    </div>

  </div>
</section>
