<app-main-nav-bar></app-main-nav-bar>
<!-- MultiStep Form -->
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm-12 mx-auto">
            <form id="msform">
                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active">Bank/Annual Statement & ID/Passport</li>
                    <li>CR12 & Certificate of Incorporation</li>
                    <li>Business License, Board Resolution & Kra Cert</li>
                </ul>
                <!-- fieldsets -->
                <fieldset class="hideinput">
                    <!-- <h2 class="fs-title">Bank Statements/Annual returns & ID/Passport</h2> -->
                    <!-- <h3 class="fs-subtitle" style="font-weight: bold;">Please upload a certified bank statement or annual returns and a valid ID or passport</h3> -->
                    
                    <h4 class="file-label">Upload certified bank statement or annual returns</h4>
                    <input type="file" class="form-control-file step1" id="exampleFormControlFile1" (change)="onFileChangedStatementAnnualReturns($event)">
                    <br>
                    <!-- <h4 class="file-label">Upload ID or Passport (For ID select both front and back)</h4> -->
                    
                    
                    <div class="d-flex justify-content-between">
                        <div>
                            <h4 class="file-label">Upload ID or Passport</h4>
                        </div>
                   </div>
                    <!-- <label for="exampleInputEmail1" style="float: left;">Email address</label><br> -->
                    <div class="custom-control custom-radio custom-control-inline" style="float: left !important; margin-bottom: 10px;">
                        
                        <input style="float: left !important;" type="radio" class="custom-control-input" id="customRadio" name="example" value="customEx" (change)="IdPassportEvent($event,'ID')">
                        <label class="custom-control-label" for="customRadio">ID</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline" style="float: left; margin-bottom: 10px;">
                        <input type="radio" class="custom-control-input" id="customRadio2" name="example" value="customEx" (change)="IdPassportEvent($event,'Passport')">
                        <label class="custom-control-label" for="customRadio2">Passport</label>
                      </div>
                    <input  type="file" class="form-control-file step1" id="exampleFormControlFile1" #fileInput (change)="onFileChangedIdPassport($event)" (click)="onFileChangedIdPassportValidate($event)" multiple>
                    
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>
                <fieldset>
                    <!-- <h2 class="fs-title">Social Profiles</h2> -->
                    <!-- <h3 class="fs-subtitle" style="font-weight: bold;">Please upload memorandum and articles of associations (CR12) and certificate of incorporation</h3> -->
                    
                    <h4 class="file-label">Upload memorandum and articles of associations (CR12)</h4>
                    <input type="file" name="memorandum" class="form-control-file step2" id="exampleFormControlFile1" (change)="onFileChangedMemorandumArticlesOfAssociation($event)">
                    <br>
                    <h4 class="file-label">Upload certificate of incorporation</h4>
                    <input type="file"  class="form-control-file step2" id="exampleFormControlFile1" (change)="onFileChangedCertificateOfIncorporation($event)">
                    <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>
                <fieldset>
                    <!-- <h2 class="fs-title">Create your account</h2> -->
                    <!-- <h3 class="fs-subtitle" style="font-weight: bold;">Please upload business license, board resolution and KRA certificate</h3> -->
                    
                    <h4 class="file-label">Upload KRA Certificate</h4>
                    <input type="file" class="form-control-file step3" id="exampleFormControlFile1" (change)="onFileChangedKraCertificate($event)">
                    <br>
                    <h4 class="file-label">Upload Business License</h4>
                    <input type="file" class="form-control-file step3" id="exampleFormControlFile1" (change)="onFileChangedBusinessLicense($event)">
                    <br>
                    <h4 class="file-label">Upload Board Resolution</h4>
                    <input type="file" class="form-control-file step3" id="exampleFormControlFile1" (change)="onFileChangedBoardResolution($event)">
                    <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                    <input type="submit" name="submit" class="submit action-button" value="Submit"/>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>