<app-shop-navbar></app-shop-navbar>

<section class="shopping-cart dark" style="padding: 20px;">
  <div class="container " >

    <div class="row">
      <div class="col-lg-3">
        <h4 style="padding-left: 1px; padding-bottom: 10px; color:#ff5821; font-size: 12px; font-weight: bold;">Shop > Cart</h4>
      </div>
    </div>
    <h3 *ngIf="cartempty == true">Your cart is empty</h3>
      <div class="content " *ngIf="cartempty == false">


          <div class="row" >

              <div class="col-md-12 col-lg-8" style="padding: 10px;">
                <table class="table table-striped" >
                  <thead>
                    <tr>
                      <th class="text-center" scope="col">Name</th>
                      <th class="text-center" scope="col">Count</th>
                      <th class="text-center" scope="col">Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of items">
                      <td class="text-center">{{item.item}}</td>
                      <td class="text-center">
                          <div class="row text-center justify-content-sm-center" style="margin: 0 !important; padding: 0 !important;">
                            <div class="col-lg-2" style="margin-top: 2px; cursor: pointer;" (click)="minusItem(item.item,item.cost,item.count)">
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="col-lg-2" style="margin-top: 2px;">
                              {{item.count}}
                            </div>
                            <div class="col-lg-2" style="margin-top: 2px; cursor: pointer;" (click)="addItem(item.item,item.cost,item.count)">
                              <i class="fa fa-plus"></i>
                            </div>
                          </div>
                      </td>
                      <td class="text-center">Ksh {{item.cost}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-12 col-lg-4">
                  <div class="summary">
                      <h3>Summary</h3>
                      <div class="summary-item">
                          <span class="text">Subtotal</span>
                          <span class="price">Ksh {{total}}</span>
                      </div>
                      <div class="summary-item">
                          <span class="text">Discount</span>
                          <span class="price">Ksh 0</span>
                      </div>
                      <div class="summary-item">
                          <span class="text">Shipping</span>
                          <span class="price">Ksh 0</span>
                      </div>
                      <div class="summary-item mt-3">
                          <span class="text" style="color: brown">Total</span>
                          <span class="price" style="color: brown">Ksh {{total}}</span>
                      </div>



                      <button type="button" class="btn btn-primary btn-lg btn-block" style="font-size: 13px; " (click)="checkOut()">Checkout</button>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>
