
<div class="container" style="border: 1px solid #fff;">
  <nav class="navbar  navbar-expand-lg" id="myNavbar" style="border: 1px solid #fff;">

    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon fa fa-bars"></span>
    </button>

    <a href="#" class="navbar-brand">PSM</a>

    <div class="collapse navbar-collapse justify-content-end" id="mainNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown px-2">
          <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ml-auto">
<!--
             <li class="nav-item px-2">
              <a href="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
             </li> -->

             <li class="nav-item px-2 dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Skin & Body</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="servicesDropdown">
               <a class="dropdown-item" href="javascript:void(0)">Skin Treatment</a>
               <a class="dropdown-item" href="javascript:void(0)">How we fit your needs in skin treatments</a>
               <div class="dropdown-divider"></div>
               <div class="d-md-flex align-items-start justify-content-start">
                <div>
                 <div class="dropdown-header">Title Menu 1</div>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 1</a>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 1</a>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 1</a>
                </div>
                <div>
                 <div class="dropdown-header">Title Menu 2</div>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 2</a>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 2</a>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 2</a>
                </div>
                <div>
                 <div class="dropdown-header">Title Menu 3</div>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 3 </a>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 3</a>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 3</a>
                </div>
                <div>
                 <div class="dropdown-header">Title Menu 4</div>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 4 </a>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 4</a>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 4</a>
                </div>
                <div>
                 <div class="dropdown-header">Title Menu 5</div>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 5 </a>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 5</a>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 5</a>
                </div>
                <div>
                 <div class="dropdown-header">Title Menu 6</div>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 6 </a>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 6</a>
                 <a class="dropdown-item" href="javascript:void(0)">Menu Item 6</a>
                </div>
               </div>
              </div>
             </li>
             <li class="nav-item px-2 dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Facial Treatment</a>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="servicesDropdown">
                <a class="dropdown-item" href="javascript:void(0)">Facial Treatment</a>
                <a class="dropdown-item" href="javascript:void(0)">How we fit your needs in facial treatments</a>
                <div class="dropdown-divider"></div>
                <div class="d-md-flex align-items-start justify-content-start">
                 <div>
                  <div class="dropdown-header">Title Menu 1</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 1</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 1</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 1</a>
                 </div>
                 <div>
                  <div class="dropdown-header">Title Menu 2</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 2</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 2</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 2</a>
                 </div>
                 <div>
                  <div class="dropdown-header">Title Menu 3</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 3 </a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 3</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 3</a>
                 </div>
                 <div>
                  <div class="dropdown-header">Title Menu 4</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 4 </a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 4</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 4</a>
                 </div>
                 <div>
                  <div class="dropdown-header">Title Menu 5</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 5 </a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 5</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 5</a>
                 </div>
                 <div>
                  <div class="dropdown-header">Title Menu 6</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 6 </a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 6</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 6</a>
                 </div>
                </div>
               </div>
              </li>
              <li class="nav-item px-2 dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hair Treatment</a>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="servicesDropdown">
                <a class="dropdown-item" href="javascript:void(0)">Hair Treatment</a>
                <a class="dropdown-item" href="javascript:void(0)">How we fit your needs in hair treatments</a>
                <div class="dropdown-divider"></div>
                <div class="d-md-flex align-items-start justify-content-start">
                 <div>
                  <div class="dropdown-header">Title Menu 1</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 1</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 1</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 1</a>
                 </div>
                 <div>
                  <div class="dropdown-header">Title Menu 2</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 2</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 2</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 2</a>
                 </div>
                 <div>
                  <div class="dropdown-header">Title Menu 3</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 3 </a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 3</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 3</a>
                 </div>
                 <div>
                  <div class="dropdown-header">Title Menu 4</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 4 </a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 4</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 4</a>
                 </div>
                 <div>
                  <div class="dropdown-header">Title Menu 5</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 5 </a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 5</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 5</a>
                 </div>
                 <div>
                  <div class="dropdown-header">Title Menu 6</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 6 </a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 6</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 6</a>
                 </div>
                </div>
               </div>
              </li>
              <li class="nav-item px-2 dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Scars & Stretch Marks</a>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="servicesDropdown">
                <a class="dropdown-item" href="javascript:void(0)">Scrubs & Sprays Treatment</a>
                <a class="dropdown-item" href="javascript:void(0)">How we fit your needs in scrubs & sprays treatments</a>
                <div class="dropdown-divider"></div>
                <div class="d-md-flex align-items-start justify-content-start">
                 <div>
                  <div class="dropdown-header">Title Menu 1</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 1</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 1</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 1</a>
                 </div>
                 <div>
                  <div class="dropdown-header">Title Menu 2</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 2</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 2</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 2</a>
                 </div>
                 <div>
                  <div class="dropdown-header">Title Menu 3</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 3 </a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 3</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 3</a>
                 </div>
                 <div>
                  <div class="dropdown-header">Title Menu 4</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 4 </a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 4</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 4</a>
                 </div>
                 <div>
                  <div class="dropdown-header">Title Menu 5</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 5 </a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 5</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 5</a>
                 </div>
                 <div>
                  <div class="dropdown-header">Title Menu 6</div>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 6 </a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 6</a>
                  <a class="dropdown-item" href="javascript:void(0)">Menu Item 6</a>
                 </div>
                </div>
               </div>
              </li>
            </ul>

           </div>
        </li>
        <li class="nav-item dropdown px-2">
          <a style="color: brown" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-shopping-cart"><span style="padding: 4px; font-family: Montserrat; font-weight: bold;">{{cartcount}}</span></i>
          </a>
          <div *ngIf="cartempty" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a style="color: brown; font-weight: bold; font-size: 12px;" class="dropdown-item" href="javascript:void(0)">No items in cart</a>
          </div>
          <div *ngIf="!cartempty" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let item of items">
              <p style="padding-left: 10px; padding-right: 10px; font-weight: bold; font-family: Montserrat; font-size: 13px; color: #ff5821;">{{item.count}} {{item.item}}</p>
            </li>
              <button style="margin: 10px; font-family: Montserrat; font-size: 12px; font-weight: bold;" type="button" class="btn btn-success btn-sm" (click)="viewCart()">Checkout</button>
          </div>
        </li>
        <li class="nav-item dropdown px-2">
          <a style="color: brown" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>

          <div *ngIf="!loggedin" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/login">Login</a>
          </div>
          <div *ngIf="loggedin" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="[ '/merchant']"
            routerLinkActive="active-list-item"
            [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" href="#">Merchant</a>
            <a [routerLink]="[ '/account']"
            routerLinkActive="active-list-item"
            [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" href="#">My Profile</a>
            <a class="dropdown-item" href="#" (click)="logOut()">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
   </nav>

</div>
<div class="dropdown-divider"></div>
