<ng-template #createRequestType [ngIf]="modalData.tag == 'create'">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Request Type</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #createRequestTypeForm="ngForm">

      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <div class="form-floating mb-3">
            <input name="request_type_name_create" type="text" class="form-control" id="formGroupExampleInput2"
              id="formGroupExampleInput" #request_type_name_create="ngModel"
              [(ngModel)]="modalData.requestTypeName"
              [class.is-invalid]="request_type_name_create.invalid && request_type_name_create.touched" ngModel required >
            <label for="floatingInput" style="font-size: 13px; color: #666;">Request Type Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <div class="form-floating mb-3">
            <select name="request_type_active_create" class="form-select" id="floatingSelect"
              aria-label="Floating label select example" #request_type_active_create="ngModel"
              [class.is-invalid]="request_type_active_create.invalid && request_type_active_create.touched" ngModel
              [(ngModel)]="modalData.active" required>
              <option [value]="1">Yes</option>
              <option [value]="0">No</option>
            </select>
            <label for="floatingInput" style="font-size: 13px; color: #666;">Active?</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <button (click)="passBack()" [disabled]="createRequestTypeForm.form.invalid" type="submit" class="btn btn-primary w-100">Create</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #editRequestType [ngIf]="modalData.tag == 'edit'">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Request Type</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #editRequestTypeForm="ngForm">

      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <div class="form-floating mb-3">
            <input name="request_type_name_edit" type="text" class="form-control" id="formGroupExampleInput2"
              id="formGroupExampleInput" #request_type_name_edit="ngModel"
              [(ngModel)]="modalData.requestTypeName"
              [class.is-invalid]="request_type_name_edit.invalid && request_type_name_edit.touched" ngModel required >
            <label for="floatingInput" style="font-size: 13px; color: #666;">Request Type Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <div class="form-floating mb-3">
            <select name="request_type_active_edit" class="form-select" id="floatingSelect"
              aria-label="Floating label select example" #request_type_active_edit="ngModel"
              [class.is-invalid]="request_type_active_edit.invalid && request_type_active_edit.touched" ngModel
              [(ngModel)]="modalData.active" required>
              <option [value]="1">Yes</option>
              <option [value]="0">No</option>
            </select>
            <label for="floatingInput" style="font-size: 13px; color: #666;">Active?</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <button (click)="passBack()" [disabled]="editRequestTypeForm.form.invalid" type="submit" class="btn btn-primary w-100">Create</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>



<ng-template #deleteRequestType [ngIf]="modalData.tag == 'delete'">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Request Type</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #deleteGroupForm="ngForm">

      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <div class="form-floating mb-3">
            <h3 style="text-align: center;">Are you sure you want to delete the request type?</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <button (click)="passBack()" type="submit" class="btn btn-primary w-100">Delete</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
