<app-shop-navbar></app-shop-navbar>

    <section id="blog" class="blog" style="border: 1px solid #fff; ">

      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-3">

            <div class="sidebar">

              <!-- <h5 class="sidebar-title" style="font-size: 13px; font-weight: normal; color: #ff5821;">Home / welawela</h5> -->
              <!-- <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div> -->

              <h2 class="sidebar-title" style="font-size: 17px;">Availability</h2>
              <div class="sidebar-item categories">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    In Stock
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                  <label class="form-check-label" for="flexRadioDefault2">
                    Out of stock
                  </label>
                </div>
              </div><!-- End sidebar categories-->
              <h2 class="sidebar-title" style="font-size: 17px;">Brand</h2>
              <div class="sidebar-item categories">
                <div class="sidebar-item categories">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Gucci
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Dolce Gabbana
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Nike
                    </label>
                  </div>
                </div>
              </div><!-- End sidebar categories-->
              <h2 class="sidebar-title" style="font-size: 17px;">Product Type</h2>
              <div class="sidebar-item categories">
                <div class="sidebar-item categories">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Facial Treatment
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Hair Treatment
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Scrubs
                    </label>
                  </div>
                </div>
              </div><!-- End sidebar categories-->
            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->
          <div class="col-lg-9 entries">

            <div id="team" class="team">
              <div class="container">
                <div class="row">

                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" >
                    <div class="member">
                      <div class="member-img">
                        <img src="../../assets/img/feed1.webp" class="img-fluid" alt="">
                        <div class="social">
                          <a href="javascript:void(0)" (click)="quickView('Vaseline',1200)"><span
                              style="border: 2px solid #ff5821; color:#fff; background-color: #ff5821; font-family: Montserrat; font-weight: bold; padding: 10px; border-radius: 25px;">Quick
                              View</span></a>
                        </div>
                      </div>
                      <div class="member-info">
                        <h4>Vaseline</h4>
                        <small style="color: salmon" class="text-muted"><i
                            style="color: blueviolet; padding: 1px; font-style: normal">&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;</i>
                        </small>
                        <h4 style="font-size: 13px;">Ksh 1200</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="member">
                      <div class="member-img">
                        <img src="../../assets/img/feed2.webp" class="img-fluid" alt="">
                        <div class="social">
                          <a href="javascript:void(0)" (click)="quickView('Arimis',1100)"><span
                            style="border: 2px solid #ff5821; color:#fff; background-color: #ff5821; font-family: Montserrat; font-weight: bold; padding: 10px; border-radius: 25px;">Quick
                            View</span></a>
                        </div>
                      </div>
                      <div class="member-info">
                        <h4>Arimis</h4>
                        <small style="color: salmon" class="text-muted"><i
                            style="color: blueviolet; padding: 1px; font-style: normal">&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;</i>
                        </small>
                        <h4 style="font-size: 13px;">Ksh 1100</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="member">
                      <div class="member-img">
                        <img src="../../assets/img/feed3.webp" class="img-fluid" alt="">
                        <div class="social">
                          <a href="javascript:void(0)" (click)="quickView('Solea',800)"><span
                            style="border: 2px solid #ff5821; color:#fff; background-color: #ff5821; font-family: Montserrat; font-weight: bold; padding: 10px; border-radius: 25px;">Quick
                            View</span></a>
                        </div>
                      </div>
                      <div class="member-info">
                        <h4>Solea</h4>
                        <small style="color: salmon" class="text-muted"><i
                            style="color: blueviolet; padding: 1px; font-style: normal">&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;</i>
                        </small>
                        <h4 style="font-size: 13px;">Ksh 800</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="member">
                      <div class="member-img">
                        <img src="../../assets/img/feed1.webp" class="img-fluid" alt="">
                        <div class="social">
                          <a href="javascript:void(0)" (click)="quickView('Nivea',3700)"><span
                            style="border: 2px solid #ff5821; color:#fff; background-color: #ff5821; font-family: Montserrat; font-weight: bold; padding: 10px; border-radius: 25px;">Quick
                            View</span></a>
                        </div>
                      </div>
                      <div class="member-info">
                        <h4>Nivea</h4>
                        <small style="color: salmon" class="text-muted"><i
                            style="color: blueviolet; padding: 1px; font-style: normal">&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;</i>
                        </small>
                        <h4 style="font-size: 13px;">Ksh 3700</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="member">
                      <div class="member-img">
                        <img src="../../assets/img/feed2.webp" class="img-fluid" alt="">
                        <div class="social">
                          <a href="javascript:void(0)" (click)="quickView('Samini',1500)"><span
                            style="border: 2px solid #ff5821; color:#fff; background-color: #ff5821; font-family: Montserrat; font-weight: bold; padding: 10px; border-radius: 25px;">Quick
                            View</span></a>
                        </div>
                      </div>
                      <div class="member-info">
                        <h4>Samini</h4>
                        <small style="color: salmon" class="text-muted"><i
                            style="color: blueviolet; padding: 1px; font-style: normal">&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;</i>
                        </small>
                        <h4 style="font-size: 13px;">Ksh 1500</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="member">
                      <div class="member-img">
                        <img src="../../assets/img/feed3.webp" class="img-fluid" alt="">
                        <div class="social">
                          <a href="javascript:void(0)" (click)="quickView('Kornea', 2800)"><span
                            style="border: 2px solid #ff5821; color:#fff; background-color: #ff5821; font-family: Montserrat; font-weight: bold; padding: 10px; border-radius: 25px;">Quick
                            View</span></a>
                        </div>
                      </div>
                      <div class="member-info">
                        <h4>Kornea</h4>
                        <small style="color: salmon" class="text-muted"><i
                            style="color: blueviolet; padding: 1px; font-style: normal">&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;</i>
                        </small>
                        <h4 style="font-size: 13px;">Ksh 2800</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div><!-- End blog entries list -->

        </div>

      </div>

    </section><!-- End Blog Single Section -->

  <app-footer></app-footer>
