@import url("https://fonts.googleapis.com/css?family=Montserrat");

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    font-family: "Montserrat";
}
mat-card {
    font-family: "Montserrat";
}
h3 {
    font-family: "Montserrat";
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
    font-family: "Montserrat";
    font-size: 13px;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
    font-family: "Montserrat";
    font-size: 13px;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    font-family: "Montserrat";
    font-size: 13px;
}
