
<ng-template #createExpiryPeriod [ngIf]="modalData.tag == 'create'">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Expiry Period</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #createExpiryPeriodForm="ngForm">

      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <div class="form-floating mb-3">
            <input name="expiry_period_create" type="number" class="form-control" id="formGroupExampleInput2"
              id="formGroupExampleInput" #expiry_period_create="ngModel"
              [(ngModel)]="modalData.expiryPeriod"
              [class.is-invalid]="expiry_period_create.invalid && expiry_period_create.touched" ngModel required >
            <label for="floatingInput" style="font-size: 13px; color: #666;">Expiry Period</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <button (click)="passBack()" [disabled]="createExpiryPeriodForm.form.invalid" type="submit" class="btn btn-primary w-100">Create</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #editExpiryPeriod [ngIf]="modalData.tag == 'edit'">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Expiry Period</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #editExpiryPeriodForm="ngForm">
      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <div class="form-floating mb-3">
            <input name="expiry_period_edit" type="number" class="form-control" id="formGroupExampleInput2"
              id="formGroupExampleInput" #expiry_period_edit="ngModel"
              [(ngModel)]="modalData.expiryPeriod"
              [class.is-invalid]="expiry_period_edit.invalid && expiry_period_edit.touched" ngModel required >
            <label for="floatingInput" style="font-size: 13px; color: #666;">Expiry Period</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <button (click)="passBack()" [disabled]="editExpiryPeriodForm.form.invalid" type="submit" class="btn btn-primary w-100">Update</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
