/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
/* @import url("https://fonts.googleapis.com/css?family=Montserrat:500,700"); */
@import url("https://fonts.googleapis.com/css?family=Changa");
/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Muli:400,700"); */
html, body { 
    height: 100%; 
    scroll-behavior: smooth; 
    background-color: #f0f0f0 !important;
    font-family: Changa}
body { 
    margin: 0; 
}
