<section>
    <div class="container" style="padding: 10px 0px 0px 0px; ">
        <nav class="navbar navbar-expand-md navbar-dark" style="padding-left: 0; padding-right: 0;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-bars" style="color:#029cd8; font-size:28px;"></i>
                </span>
            </button>
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto" >
                    <li class="nav-item" >
                        <a style="font-weight: bolder; margin-top: -4px;" class="nav-link"><i class="fa fa-magnet fa-2x"
                                style="color: #029cd8;"></i></a>
                    </li>

                    <li class="nav-item" style="margin-left: 20px;">
                        <a style="font-weight: bolder;" class="nav-link" href="/">Home</a>
                    </li>
                    
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" style="padding: 4px;">
                <ul class="navbar-nav ml-auto" style="margin-top: -5px;">
                    
                    <li class="nav-item">
                        <a style="font-weight: bolder;" class="nav-link" href="/register" >Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>