<app-main-nav-bar></app-main-nav-bar>
<div class="section" >
    <div class="row" style="margin-top: 10px;margin-left: 20px; margin-right: 20px;">
        <div class="container" style="padding: 20px;">
            <div>
                <h3 style="font-size: 15px; font-weight: bold; font-family: Montserrat; text-align: center; color: #013186;">My Transactions</h3>
            </div>
            <mat-card>
                <table #dataTable class="display datatable" style="width:100%; ">
                </table>
            </mat-card>
        </div>
    </div>
</div>
<app-footer></app-footer>