@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
h4,p {
    font-family: 'Montserrat';
}

button {
    font-family: 'Montserrat';
    font-size: 13px;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

.card-top {
    /* height: 200px; */
    padding: 20px;
}

.card-bottom {
    height: 300px;
    padding: 10px;
}
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  footer {
    border-top: 2px solid #ccc; 
  }

  footer ul {
    flex-direction: row;
  }

  footer .copyright {
    font-family: 'Montserrat';
    font-size: 13px;
  }

  footer ul li {
    font-family: 'Montserrat';
    padding: 0px 10px 0px 10px; 
    border: 0px;
    font-size: 13px;
  }

  mat-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .mat-card:not([class*=mat-elevation-z]) {
    /* box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
                0 1px 1px 0 rgba(0,0,0,1), 
                0 1px 3px 0 rgba(0,0,0,1); */
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

  @media (max-width: 575px) {
    #footer .copyright, #footer .credits {
      float: none;
      -moz-text-align-last: center;
      text-align-last: center;
      padding: 3px 0;
    }
  }