<app-navbar></app-navbar>
<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="container">
            <div class="row" style="margin-top: 10px;">
                <div class="col-lg-12" style="padding: 5px; float:none;margin:auto;">
                    <mat-card>
                        <h4>Search Customer</h4>
                        <form #form="ngForm" (ngSubmit)="searchSubmit(form)">

                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <select name="requesttype" class="form-select" id="floatingSelect"
                            aria-label="Floating label select example" #requesttype="ngModel"
                            [class.is-invalid]="requesttype.invalid && requesttype.touched" ngModel required autofocus>
                            <option [value]="item.requestname" *ngFor="let item of requesttypedata">{{item.requestname}}</option>
                        </select>
                                        <label for="floatingSelect">Request Type</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input name="atccode" type="text" class="form-control input"
                                            id="formGroupExampleInput2" placeholder="Request Number" required>
                                        <label for="floatingInput" style="font-size: 12px; color: #666;">
                                            Request Number</label>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input name="atccode" type="text" class="form-control input"
                                            id="formGroupExampleInput2" placeholder="Request Number" required>
                                        <label for="floatingInput" style="font-size: 12px; color: #666;">
                                            Request Serial Number</label>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" name="submit" class="submit action-button btn btn-primary"
                                [disabled]="form.form.invalid" value="Search" />
                            <img *ngIf="loading"
                                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                        </form>
                    </mat-card>
                </div>
                <div class="col-lg-12" style="padding: 5px; float:none;margin:auto;">
                  <!-- <button type="button" class="btn btn-primary" style="margin-bottom: 20px; " (click)="print()">Print</button> -->

                    <mat-card>
                        <table #dataTableSearchCustomer id="dtSearchCustomer" class="display datatable">
                        </table>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container" style="padding: 10px;" id="DivIdToPrint">

  <div class="row">
    <div class="col-md-6">Photo</div>
    <div class="col-md-6 text-right" style="float: right;"><img src="../../../assets/images/standard-chartered-logo-top-resized.png"></div>
  </div><br>
  <div class="row">
    <div class="col-md-6">ID Number</div>
    <div class="col-md-6 text-right" style="float: right;">{{printData.idnumber}}</div>
</div>

<div class="row">
  <div class="col-md-6">Serial Number</div>
  <div class="col-md-6 text-right" style="float: right;">{{printData.idserialNumber}}</div>
</div>
<div class="row">
  <div class="col-md-6">Pin</div>
  <div class="col-md-6 text-right" style="float: right;">{{printData.pin}}</div>
</div>
<div class="row">
  <div class="col-md-6">First Name</div>
  <div class="col-md-6 text-right" style="float: right;">{{printData.firstName}}</div>
</div>
<div class="row">
  <div class="col-md-6">Sur Name</div>
  <div class="col-md-6 text-right" style="float: right;">{{printData.surName}}</div>
</div>
<div class="row">
  <div class="col-md-6">Other Names</div>
  <div class="col-md-6 text-right" style="float: right;">{{printData.otherName}}</div>
</div>
<div class="row">
  <div class="col-md-6">Family</div>
  <div class="col-md-6 text-right" style="float: right;">{{printData.family}}</div>
</div>
<div class="row">
  <div class="col-md-6">Gender</div>
  <div class="col-md-6 text-right" style="float: right;">{{printData.gender}}</div>
</div>
<div class="row">
  <div class="col-md-6">Citizenship</div>
  <div class="col-md-6 text-right" style="float: right;">{{printData.citizenship}}</div>
</div>
<div class="row">
  <div class="col-md-6">Occupation</div>
  <div class="col-md-6 text-right" style="float: right;">{{printData.occupation}}</div>
</div>
</div> -->

<app-footer></app-footer>
