span, label, h4, input, button {
    font-family: 'Changa';
    font-weight: normal;
}

h4 {
    font-size: 16px;
    color: #0071c5;
    font-weight: bold;
}
.form-row{
    margin-top: 10px;
}


.col-md-6 span {
    cursor: pointer;
}

.col-md-6 span i {
    padding-left: 10px;
    color: blue;
}
