<app-home-navbar></app-home-navbar>
<div class="dropdown-divider"></div>
<main id="main">
  <!-- ======= Blog Single Section ======= -->
  <section id="blog" class="blog">
    <div class="container">

      <div class="row">

        <div class="col-lg-9 entries">

          <div id="team" class="team">
            <div class="container">
              <div class="row">

                <!-- <div class="col-lg-12   col-md-6 d-flex align-items-stretch" data-aos="fade-up" *ngFor="let item of productsObservable | async"> -->
                <div class="col-lg-12   col-md-6 " >
                  <article class="entry">
                    <div class="entry-content">
                      <p><i class="fa fa-user-o"></i><span style="padding: 10px;">{{user.user.userName}}</span></p>
                      <p><i class="fa fa-user"></i><span style="padding: 10px;">{{user.user.fullName}}</span></p>
                      <p><i class="fa fa-envelope"></i><span style="padding: 10px;">{{user.user.emailAddress}}</span></p>


                    </div>
                  </article><!-- End blog entry -->


                </div>

              </div>

            </div>
          </div>



        </div><!-- End blog entries list -->
        <div class="col-lg-3">

          <div class="sidebar">

            <!-- <h3 class="sidebar-title">Search</h3>
            <div class="sidebar-item search-form">
              <form action="">
                <input type="text">
                <button type="submit"><i class="bi bi-search"></i></button>
              </form>
            </div> -->

            <h2 class="sidebar-title" style="font-size: 17px;">Procedure Categories</h2>
            <div class="sidebar-item categories">
              <ul style="font-family: Montserrat;">
                <li><a style="cursor: pointer;" href="/procedure">Invasive <span>(2)</span></a></li>
                <li><a style="cursor: pointer;" href="/procedure">Non Invasive <span>(3)</span></a></li>
                <li><a style="cursor: pointer;" href="/procedure">All <span>(5)</span></a></li>
              </ul>
            </div><!-- End sidebar categories-->

            <h2 class="sidebar-title" style="font-size: 17px;">Procedure Types</h2>
            <div class="sidebar-item categories">
              <ul style="font-family: Montserrat;">
                <li><a style="cursor: pointer;" (click)="moreDetail2('Face Lift')" >Face Lift <span>(1)</span></a></li>
                <li><a style="cursor: pointer;" (click)="moreDetail2('Nose Reshaping')">Nose Reshaping <span>(1)</span></a></li>
                <li><a style="cursor: pointer;" (click)="moreDetail2('Nasal Surgery')" >Nasal Surgery <span>(1)</span></a></li>
                <li><a style="cursor: pointer;" (click)="moreDetail2('Eyelid Lift')">Eyelid Lift <span>(1)</span></a></li>
                <li><a style="cursor: pointer;" (click)="moreDetail2('Ear Reshaping')">Ear Reshaping <span>(1)</span></a></li>
              </ul>
            </div><!-- End sidebar categories-->

          </div><!-- End sidebar -->

        </div><!-- End blog sidebar -->
      </div>

    </div>
  </section><!-- End Blog Single Section -->

</main><!-- End #main -->

<app-footer></app-footer>
