<app-navbar></app-navbar>
<div class="container" style="margin-top: 30px; margin-bottom: 50px;">
    <div class="row" style="margin-top: 10px;">
        <div class="col-lg-6" style="padding: 5px">
            <mat-card style="min-height: 332px;">
                <h4>Personal Information</h4>
                <div class="form-row">
                    <div class="col-md-6" >
                        <label for="validationTooltip01">Client Name</label>
                    </div>
                    <div class="col-md-6">
                        <span class="pull-right">{{user.user.client.clientName}}</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6" >
                        <label for="validationTooltip01">Username</label>
                    </div>
                    <div class="col-md-6" >
                        <span class="pull-right">{{user.user.userName}}</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6" >
                        <label for="validationTooltip01">Full Names</label>
                    </div>
                    <div class="col-md-6" >
                        <span class="pull-right">{{user.user.fullName}}</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="validationTooltip01">Email Address</label>
                    </div>
                    <div class="col-md-6">
                      <span class="pull-right">{{emailaddressvalue}}</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="validationTooltip01">ID Number</label>
                    </div>
                    <div class="col-md-6" >
                        <!-- <span (click)="editAccount()" class="pull-right">{{user.user.idNumber}}<i class="fa fa-pencil fa-lg"></i></span> -->
                        <span class="pull-right">{{idnumbervalue}}</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6" >
                        <label for="validationTooltip01">Phone Number</label>
                    </div>
                    <div class="col-md-6">
                      <span class="pull-right">{{msisdnvalue}}</span>
                    </div>
                </div>
                <input type="submit" name="submit" class="submit action-button btn btn-warning" (click)="editAccount()" value="Edit"/>

            </mat-card>
        </div>
        <div class="col-lg-6" style="padding: 5px">
            <mat-card style="min-height: 240px;">
                <h4>Change Password</h4>
                <form #form="ngForm" (ngSubmit)="changePasswordSubmit(form)">
                    <div class="form-floating mb-3">
                        <input name="oldpassword" type="password" class="form-control" id="formGroupExampleInput2"
                        id="formGroupExampleInput" placeholder="Old Password" #oldpassword="ngModel"
                        [class.is-invalid]="oldpassword.invalid && oldpassword.touched" ngModel required>
                        <label for="floatingInput" style="font-size: 13px; color: #666;">Old Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="newpassword" type="password" class="form-control" id="formGroupExampleInput2"
                        id="formGroupExampleInput" placeholder="New Password" #newpassword="ngModel"
                        [class.is-invalid]="newpassword.invalid && newpassword.touched" ngModel required>
                        <label for="floatingInput" style="font-size: 13px; color: #666;">New Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="repeatpassword" type="password" class="form-control" id="formGroupExampleInput2"
                        id="formGroupExampleInput" placeholder="Repeat Password" #repeatpassword="ngModel"
                        [class.is-invalid]="repeatpassword.invalid && repeatpassword.touched" ngModel required>
                        <label for="floatingInput" style="font-size: 13px; color: #666;">Repeat Password</label>
                    </div>
                    <input type="submit" name="submit" class="submit action-button btn btn-primary" [disabled]="form.form.invalid" value="Submit"/>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

                </form>
            </mat-card>
        </div>
    </div>
</div>
<ng-template #editAccountModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Account Update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #editForm="ngForm" (ngSubmit)="submitEditAccount(editForm)">


      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <div class="form-floating mb-3">
            <input name="editemailaddress" type="text" class="form-control" id="formGroupExampleInput2"
              #editemailaddress="ngModel"
              [class.is-invalid]="editemailaddress.invalid && editemailaddress.touched" ngModel
              [(ngModel)]="emailaddressvalue">
            <label for="floatingInput" style="font-size: 13px; color: #666;">Email Address</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <div class="form-floating mb-3">
            <input name="editidnumber" type="text" class="form-control" id="formGroupExampleInput2"
              #editidnumber="ngModel" [class.is-invalid]="editidnumber.invalid && editidnumber.touched" ngModel
              [(ngModel)]="idnumbervalue">
            <label for="floatingInput" style="font-size: 13px; color: #666;">ID Number</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <div class="form-floating mb-3">
            <input name="editmsisdn" type="text" class="form-control" id="formGroupExampleInput2"
              #editmsisdn="ngModel" [class.is-invalid]="editmsisdn.invalid && editmsisdn.touched" ngModel
              [(ngModel)]="msisdnvalue">
            <label for="floatingInput" style="font-size: 13px; color: #666;">Phone Number</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <button type="submit"
            class="btn btn-primary btn-block" [disabled]="editForm.form.invalid">Edit</button>
          <img style="margin-left: 10px;" *ngIf="loading"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

        </div>
      </div>


    </form>
  </div>
</ng-template>
<app-footer></app-footer>
