
<ng-template #create [ngIf]="modalData.tag == 'shareExperience'">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" style="color: #ff5821;font-weight: bold;"><i class="fa fa-beer" style="padding: 5px; "></i>Share Your Experience</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #createUserForm="ngForm">

      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <div class="form-floating mb-3">
            <select name="procedureid" class="form-select" id="floatingSelect"
              aria-label="Floating label select example" #procedureid="ngModel"
              [(ngModel)]="modalData.procedureid"
              [class.is-invalid]="procedureid.invalid && procedureid.touched" ngModel
               required autofocus>
              <option [value]="item.procedureID" *ngFor="let item of modalData.data | async">{{item.procedureName}}
              </option>
            </select>
            <label for="floatingInput" style="font-size: 13px; color: #666;">Category</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <div class="form-floating mb-3">
            <textarea name="description" class="form-control" id="formGroupExampleInput2"
              id="formGroupExampleInput"  #description="ngModel" rows="5"
              [(ngModel)]="modalData.description"
              [class.is-invalid]="description.invalid && description.touched" ngModel required ></textarea>
            <label for="floatingInput" style="font-size: 13px; color: #666;">Enter your experience</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-1 col-lg-12">
          <button (click)="passBack()" [disabled]="createUserForm.form.invalid" type="submit" class="btn btn-danger w-100">Submit</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
